<div class="main">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
 <table>
    <tr style='
    background-color: #04AA6D;
    color: white;
  '>    <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Query</th>
        <th>Created_At</th>
         </tr>

 <tr style=" background-color:bisque">
    <td>{{data.id}}</td>
        <td>{{ data.title }}</td>
        
    <td>{{ data.description }}</td>
    
    <td>{{ data.Query}}</td>
    <td>{{data.created_at}}</td>
</tr>
 
</table>
</div>